# GitIgnore for Fullstack Project

# Frontend (Nuxt) Dependencies/Outputs
/note-taking-app/node_modules
/note-taking-app/.nuxt
/note-taking-app/.output

# Backend (Express) Dependencies
/note-taking-api/node_modules

# Environment Variables (Crucial for security)
.env
/note-taking-api/.env